.categoryMain
    width:100%
    display: grid
    grid-template-columns: repeat(5,1fr)
    gap: 10px
    justify-content: space-around
    text-align: center
img
    width: 100%
.csBackground
    width: 100%
    display: flex
    align-items: center
    flex-direction: column
    background-color: gray
.categoryseason
    margin-top: 50px
    align-items: center
    width:80%
    display: grid
    grid-template-columns: repeat(4,1fr)
    gap: 10px
    justify-content: space-around
    text-align: center

